spring:
  application:
    name: application
  mvc:
    servlet:
      path: /application


server:
  port: 8002

eureka:
  instance:
    hostname: localhost
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

