spring:
  application:
    name: employee
  mvc:
    servlet:
      path: /employee
    pathmatch:
      matching-strategy: ant_path_matcher

server:
  port: 8001

eureka:
  instance:
    hostname: localhost
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka